In [21]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
import re
from collections import Counter
import csv
warnings.simplefilter('ignore')
%matplotlib inline

In [7]:
bus = pd.read_csv('Bus_Stops.csv')
bus.head()

   Street_One         Street_Two
0  MISSION ST          ITALY AVE
1  MISSION ST  NEW MONTGOMERY ST
2  MISSION ST            01ST ST
3  MISSION ST            20TH ST
4  MISSION ST         FREMONT ST

In [9]:
addr = pd.read_csv('Employee_Addresses.csv')
addr.head()

                                          address  employee_id
0   98 Edinburgh St, San Francisco, CA 94112, USA          206
1        237 Accacia St, Daly City, CA 94014, USA         2081
2    1835 Folsom St, San Francisco, CA 94103, USA          178
3  170 Cambridge St, San Francisco, CA 94134, USA           50
4     16 Roanoke St, San Francisco, CA 94131, USA         1863

In [11]:
bus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119 entries, 0 to 118
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Street_One  119 non-null    object
 1   Street_Two  119 non-null    object
dtypes: object(2)
memory usage: 2.0+ KB

In [12]:
addr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2191 entries, 0 to 2190
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   address      2191 non-null   object
 1   employee_id  2191 non-null   int64
dtypes: int64(1), object(1)
memory usage: 34.4+ KB

In [45]:
pattern = re.compile(r"(\d+) (.+), (.+), CA (\d+), USA")
employees = []
invalid_employees = []

In [46]:
class Employee(object):
    def __init__(self,line):
        # address
        matched = pattern.match(line[0])
        if matched is None:
            raise Exception('format not supported')

        self.building_no = int( matched.group(1) )
        self.street = matched.group(2).lower()
        self.city = matched.group(3)
        self.zipcode = int( matched.group(4) )

        # employee-id
        self.id = int(line[1])

In [47]:
with open("Employee_Addresses.csv","rt") as csv_file:
    reader = csv.reader(csv_file)
    for line in reader:
        try:
            employees.append(Employee(line))
        except:
            invalid_employees.append(line[0])

In [82]:
street_counter = Counter([e.street for e in employees])
street_count = pd.Series(street_counter)
street_list = street_count.sort_values(ascending = False)

In [80]:
bus['Street_Two'] = bus['Street_Two'].str.lower()
#addr[addr['address'].str.contains('16th St')]

In [108]:
counter = 0
bus_stop = []
for street in street_list.iteritems(): 
    if counter == 10:
        break
    if bus[bus['Street_Two'].str.contains(street[0])].shape[0] != 0:
        counter += 1
        bus_stop.append(street[0])
bus_stop

['16th st',
 'geneva ave',
 'silver ave',
 '15th st',
 '14th st',
 'persia ave',
 'bosworth st',
 '2nd st',
 '10th st',
 'rolph st']